<div id="content">
    <div class="card-title">
      <h1 class="title">Contato do autor da receita</h1>
    </div>
    <div id="conteiner">
      <div id="sidebar">
        <div class="img">
          <img
            src="https://media.istockphoto.com/id/1178076349/pt/foto/smiling-young-cook-wearing-chefs-hat.jpg?s=612x612&w=0&k=20&c=xNESF8aedEWK3zAuytNmECXC3n5zrKvy6i4TBCFNtYU="
            alt="foto autor"
          />
        </div>
      </div>
      <div class="card">
        <div class="ingredientes">
          <ul>
            <li>Nome: Luana Santana</li>
            <li>Telefone: (84) 981334560</li>
            <li>Contato Whats App: (84) 981334560</li>
            <li>Contato de email: lunasanatana@gmail.com</li>
            <li>Formação academica: Mestra em culinaria</li>
            <li>Especialidades: Preparo de café gourmet</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  