<div id="content">
  <div class="card-title">
    <h1 class="title">Café caramelado quente</h1>
    <h3 class="data">30/01/2023</h3>
    <h2 class="title1">Autor: <span>Luana Santana</span></h2>
  </div>
  <div id="conteiner">
    <div id="sidebar">
      <div class="img">
        <img
          src="https://img.cybercook.com.br/receitas/648/cafe-caramelado-quente-2-840x480.jpeg?q=75"
          alt="coffee"
        />
      </div>
    </div>
    <div class="card">
      <div class="ingredientes">
        <h3>Ingredientes</h3>
        <ul>
          <li>1 colher (sopa) de calda de caramelo</li>
          <li>150 ml de leite morno</li>
          <li>30 ml de café forte</li>
          <li>Chantilly a gosto</li>
        </ul>
        <br />
        <h3>Modo de Preparo</h3>
        <ul>
          <li>
            Coloque o caramelo no fundo de uma xícara, o leite morno, o café
            expresso e enfeite com chantilly e caramelo por cima.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
