<div id="content">
  <div class="card-title">
    <h1 class="title">Café Cremoso de Batedeira</h1>
    <h3 class="data">30/01/2023</h3>
    <h2 class="title1">Autor: <span>Daiane Correia</span></h2>
  </div>
  <div id="conteiner">
    <div id="sidebar">
      <div class="img">
        <img
          src="https://img.cybercook.com.br/receitas/814/cafe-cremoso-de-batedeira-1-840x480.jpeg?q=75"
          alt="coffee"
        />
      </div>
    </div>
    <div class="card">
      <div class="ingredientes">
        <h3>Ingredientes</h3>
        <ul>
          <li>1 xícara (chá) de café torrado em pó</li>
          <li>2 xícaras (chá) de açúcar cristal</li>
          <li>2 xícaras (chá) de água fervente</li>
          <li>1 colher (sobremesa) de açúcar de baunilha</li>
        </ul>
        <br />
        <h3>Modo de Preparo</h3>
        <ul>
          <li>
            Coloque tudo em uma batedeira e bata por 15 minutos no mínimo, vai
            ficar bem cremoso como um chantilly.
          </li>
          <li>Colocar em um pote com tampa e levar ao freezer.</li>
          <li>
            Quando for usar basta colocar uma colher (sopa) do creme em uma
            xícara e adicionar leite quente.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
