<div id="content">
  <div class="card-title">
    <h1 class="title">Contato do autor da receita</h1>
  </div>
  <div id="conteiner">
    <div id="sidebar">
      <div class="img">
        <img
          src="https://media.istockphoto.com/id/1298088270/pt/foto/young-beautiful-smiling-woman-chef-with-arms-crossed-at-kitchen.jpg?s=612x612&w=0&k=20&c=BKJY4hLk7YMPhrnW4PrgWzrfTSFB-wRL86KM1Sd1QAA="
          alt="foto autor"
        />
      </div>
    </div>
    <div class="card">
      <div class="ingredientes">
        <ul>
          <li>Nome: Daiane Correia</li>
          <li>Telefone: (84) 99384563</li>
          <li>Contato Whats App: (84) 99384563</li>
          <li>Contato de email: daianecorreia@gmail.com</li>
          <li>Formação academica: Mestra em culinaria</li>
          <li>Especialidades: Preparo de café gourmet</li>
        </ul>
      </div>
    </div>
  </div>
</div>
