<div class="recipe recipe-list-item">
    <div class="recipe-cover">
      <img src="https://img.cybercook.com.br/receitas/814/cafe-cremoso-de-batedeira-1-840x480.jpeg?q=75" alt="coffee cremoso" width="100%" height="230px"/>
    </div>
    <div class="recipe-title-container">
      <h2 class="recipe-title">Café Cremoso de Batedeira</h2>
    </div>
  
    <div class="recipe-author">
      <span class="recipe-author-item">
        <i class="fas fa-user"></i>
        Daiane Correia
      </span>
      <span class="recipe-author-item">
        <i class="fas fa-calendar-alt"></i>
        30/01/2023 às 11:39
      </span>
      <span class="recipe-author-item">
        <a href="/recipes/category/cafe-da-manha/">
          <i class="fas fa-layer-group"></i>
          <span>Café da Manhã</span>
        </a>
      </span>
    </div>
    <div class="recipe-content">
      <p>Nada como a cremosidade de um café delicioso
    </p>
    </div>
  
    <div class="recipe-meta-container">
      <div class="recipe-meta recipe-preparation;">
        <h3 class="recipe-meta-title">
          <i class="fas fa-stopwatch"></i>
          Preparo
        </h3>
        <div class="recipe-meta-text">20 Minutos</div>
      </div>
      <div class="recipe-meta recipe-servings" >
        <h3 class="recipe-meta-title">
          <i class="fas fa-pizza-slice"></i>
          Porções
        </h3>
        <div class="recipe-meta-text">15 Porções</div>
      </div>
    </div>
    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="{% url 'receitas' %}">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
    <footer class="recipe-footer-contato">
      <a class="recipe-read-more button button-dark button-full-width" href="{% url 'contatos' %}">
        <i class="fa-regular fa-id-card"></i>
          <span>Contato</span>
      </a>
  </footer>
  </div>
