<div id="content">
  <div class="card-title">
    <h1 class="title">Café Gelado</h1>
    <h3 class="data">30/01/2023</h3>
    <h2 class="title1">Autor: <span>Cleisson de Matos</span></h2>
  </div>
  <div id="conteiner">
    <div id="sidebar">
      <div class="img">
        <img
          src="https://img.cybercook.com.br/receitas/880/cafe-gelado-3-840x480.jpeg?q=75"
          alt="coffee"
        />
      </div>
    </div>
    <div class="card">
      <div class="ingredientes">
        <h3>Ingredientes</h3>
        <ul>
          <li>2 colheres (sopa) de leite condensado</li>
          <li>1 colher (sobremesa) de chocolate em pó</li>
          <li>1 colher (sobremesa) de café solúvel em pó</li>
          <li>2 unidades de gelo</li>
          <li>150 ml de leite gelado</li>
          <li>2 colheres (sopa) de chantilly</li>
          <li>1 colher (chá) de cobertura pronta sabor caramelo</li>
        </ul>
        <br />
        <h3>Modo de Preparo</h3>
        <ul>
          <li>
            Bata no liquidificador os cubos de gelo, o leite, o café solúvel, o
            chocolate em pó e o leite condensado.
          </li>
          <li>Enfeite uma taça ou copo com a cobertura para sorvete.</li>
          <li>Coloque a mistura na taça e cubra com chantilly à vontade.</li>
          <li>
            O café solúvel, o chocolate em pó e o leite condensado podem ser
            substituídos por 2 colheres (sopa) de mistura para capuccino.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
