<div id="content">
  <div class="card-title">
    <h1 class="title">Contato do autor da receita</h1>
  </div>
  <div id="conteiner">
    <div id="sidebar">
      <div class="img">
        <img
          src="https://media.istockphoto.com/id/1254987808/pt/foto/portrait-of-a-serious-barista-standing-behind-the-counter.jpg?s=612x612&w=0&k=20&c=UxHGB7e5FjVKj8HuAZ9jBQApyqVYOKhpy4CyKy3XvSE="
          alt="foto autor"
        />
      </div>
    </div>
    <div class="card">
      <div class="ingredientes">
        <ul>
          <li>Nome: Cleisson de Matos</li>
          <li>Telefone: (84) 983125567</li>
          <li>Contato Whats App: (84) 983125567</li>
          <li>Contato de email: cleissonmatos@gmail.com</li>
          <li>Formação academica: Doutor em culinaria</li>
          <li>Especialidades: Preparo de café gourmet</li>
        </ul>
      </div>
    </div>
  </div>
</div>
